<h1>olá mundo</h1>
<h1>Sign up your book</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Write the book title">
    </div>

    <div class="form-control">
        <label for="pages_number">Pages:</label>
        <input type="number" name="pages_number" placeholder="Ex: 400">
    </div>

    <div class="form-control">
        <input type="submit" value="SignUp">
    </div>
    
</form>